In [1]:
pwd

'c:\\Users\\Webstar Ochieng\\Documents'

In [1]:
#import the necessary modules
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
#install pandas (it was not installed)
pip install pandas --upgrade

Collecting pandas
  Downloading pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
     ---------------------------------------- 10.3/10.3 MB 6.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\webstar ochieng\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     -------------------------------------- 499.4/499.4 kB 4.5 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp311-cp311-win_amd64.whl (14.8 MB)
     ---------------------------------------- 14.8/14.8 MB 5.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\webstar ochieng\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
#upgrade pandas
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\webstar ochieng\appdata\local\programs\python\python311\lib\site-packages (22.3.1)
Collecting pip
  Downloading pip-23.0.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 4.2 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3.1
    Uninstalling pip-22.3.1:
      Successfully uninstalled pip-22.3.1
Successfully installed pip-23.0.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
#opening the CSV doc
'CSV_docs/'

'CSV_docs/'

In [3]:
#create your dataframe
df = pd.read_csv("CSV_docs/Nutrition__Physical_Activity__and_Obesity.csv")

In [4]:
#describe the data
df.head

<bound method NDFrame.head of        YearStart  YearEnd LocationAbbr  LocationDesc  \
0           2020     2020           US      National
1           2014     2014           GU          Guam
2           2013     2013           US      National
3           2013     2013           US      National
4           2015     2015           US      National
...          ...      ...          ...           ...
88624       2021     2021           ND  North Dakota
88625       2021     2021           PR   Puerto Rico
88626       2021     2021           WI     Wisconsin
88627       2021     2021           UT          Utah
88628       2021     2021           US      National

                                       Datasource                    Class  \
0      Behavioral Risk Factor Surveillance System        Physical Activity
1      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
2      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
3      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
4      Behavioral Risk Factor Surveillance System        Physical Activity
...                                           ...                      ...
88624  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88625  Behavioral Risk Factor Surveillance System        Physical Activity
88626  Behavioral Risk Factor Surveillance System        Physical Activity
88627  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88628  Behavioral Risk Factor Surveillance System        Physical Activity

                                  Topic  \
0          Physical Activity - Behavior
1               Obesity / Weight Status
2               Obesity / Weight Status
3               Obesity / Weight Status
4          Physical Activity - Behavior
...                                 ...
88624  Fruits and Vegetables - Behavior
88625      Physical Activity - Behavior
88626      Physical Activity - Behavior
88627  Fruits and Vegetables - Behavior
88628      Physical Activity - Behavior

                                                Question  Data_Value_Unit  \
0      Percent of adults who engage in no leisure-tim...              NaN
1      Percent of adults aged 18 years and older who ...              NaN
2      Percent of adults aged 18 years and older who ...              NaN
3      Percent of adults aged 18 years and older who ...              NaN
4      Percent of adults who achieve at least 300 min...              NaN
...                                                  ...              ...
88624  Percent of adults who report consuming vegetab...              NaN
88625  Percent of adults who engage in no leisure-tim...              NaN
88626  Percent of adults who engage in no leisure-tim...              NaN
88627  Percent of adults who report consuming fruit l...              NaN
88628  Percent of adults who engage in no leisure-tim...              NaN

      Data_Value_Type  ...                                GeoLocation  \
0               Value  ...                                        NaN
1               Value  ...                    (13.444304, 144.793731)
2               Value  ...                                        NaN
3               Value  ...                                        NaN
4               Value  ...                                        NaN
...               ...  ...                                        ...
88624           Value  ...   (47.47531977900047, -100.11842104899966)
88625           Value  ...                    (18.220833, -66.590149)
88626           Value  ...    (44.39319117400049, -89.81637074199966)
88627           Value  ...  (39.360700171000474, -111.58713063499971)
88628           Value  ...                                        NaN

       ClassID TopicID QuestionID  DataValueTypeID  LocationID  \
0           PA     PA1       Q047            VALUE          59
1          OWS    OWS1       Q036            VALUE          66
2          OWS    OWS1       Q036            VALUE          59
3          OWS    OWS1       Q037            VALUE          59
4           PA     PA1       Q045            VALUE          59
...        ...     ...        ...              ...         ...
88624       FV     FV1       Q019            VALUE          38
88625       PA     PA1       Q047            VALUE          72
88626       PA     PA1       Q047            VALUE          55
88627       FV     FV1       Q018            VALUE          49
88628       PA     PA1       Q047            VALUE          59

       StratificationCategory1       Stratification1  \
0               Race/Ethnicity              Hispanic
1                    Education  High school graduate
2                       Income     $50,000 - $74,999
3                       Income     Data not reported
4                       Income     Less than $15,000
...                        ...                   ...
88624                   Gender                  Male
88625                   Income     $35,000 - $49,999
88626                   Income    $75,000 or greater
88627                   Income     $50,000 - $74,999
88628                   Income     Data not reported

      StratificationCategoryId1 StratificationID1
0                          RACE           RACEHIS
1                           EDU         EDUHSGRAD
2                           INC           INC5075
3                           INC             INCNR
4                           INC         INCLESS15
...                         ...               ...
88624                       GEN              MALE
88625                       INC           INC3550
88626                       INC         INC75PLUS
88627                       INC           INC5075
88628                       INC             INCNR

[88629 rows x 33 columns]>

In [5]:
#Get datatype for dataset
df.dtypes

YearStart                       int64
YearEnd                         int64
LocationAbbr                   object
LocationDesc                   object
Datasource                     object
Class                          object
Topic                          object
Question                       object
Data_Value_Unit               float64
Data_Value_Type                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit          float64
High_Confidence_Limit         float64
Sample_Size                   float64
Total                          object
Age(years)                     object
Education                      object
Gender                         object
Income                         object
Race/Ethnicity                 object
GeoLocation                    object
ClassID                        object
TopicID                        object
QuestionID                     object
DataValueTypeID                object
LocationID                      int64
StratificationCategory1        object
Stratification1                object
StratificationCategoryId1      object
StratificationID1              object
dtype: object

In [10]:
#find and remove all null values
df.isnull().sum()
df1 = df.dropna()

In [12]:
print(df1)

Empty DataFrame
Columns: [YearStart, YearEnd, LocationAbbr, LocationDesc, Datasource, Class, Topic, Question, Data_Value_Unit, Data_Value_Type, Data_Value, Data_Value_Alt, Data_Value_Footnote_Symbol, Data_Value_Footnote, Low_Confidence_Limit, High_Confidence_Limit , Sample_Size, Total, Age(years), Education, Gender, Income, Race/Ethnicity, GeoLocation, ClassID, TopicID, QuestionID, DataValueTypeID, LocationID, StratificationCategory1, Stratification1, StratificationCategoryId1, StratificationID1]
Index: []

[0 rows x 33 columns]

In [13]:
df1.isnull().sum()

YearStart                     0.0
YearEnd                       0.0
LocationAbbr                  0.0
LocationDesc                  0.0
Datasource                    0.0
Class                         0.0
Topic                         0.0
Question                      0.0
Data_Value_Unit               0.0
Data_Value_Type               0.0
Data_Value                    0.0
Data_Value_Alt                0.0
Data_Value_Footnote_Symbol    0.0
Data_Value_Footnote           0.0
Low_Confidence_Limit          0.0
High_Confidence_Limit         0.0
Sample_Size                   0.0
Total                         0.0
Age(years)                    0.0
Education                     0.0
Gender                        0.0
Income                        0.0
Race/Ethnicity                0.0
GeoLocation                   0.0
ClassID                       0.0
TopicID                       0.0
QuestionID                    0.0
DataValueTypeID               0.0
LocationID                    0.0
StratificationCategory1       0.0
Stratification1               0.0
StratificationCategoryId1     0.0
StratificationID1             0.0
dtype: float64